[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
django = "*"
djangorestframework = "*"
channels = {extras = ["daphne"], version = "*"}
django-environ = "*"
dj-database-url = "*"
gunicorn = "*"
psycopg2-binary = "*"
whitenoise = "*"
django-cloudinary-storage = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
