-i https://pypi.org/simple
asgiref==3.8.1; python_version >= '3.8'
attrs==25.3.0; python_version >= '3.8'
autobahn==24.4.2; python_version >= '3.9'
automat==25.4.16; python_version >= '3.9'
cffi==1.17.1; python_version >= '3.8'
channels[daphne]==4.2.2; python_version >= '3.8'
constantly==23.10.4; python_version >= '3.8'
cryptography==44.0.2; python_version >= '3.7' and python_full_version not in '3.9.0, 3.9.1'
daphne==4.1.2; python_version >= '3.8'
dj-database-url==2.3.0
django==4.2.20; python_version >= '3.8'
django-environ==0.12.0; python_version >= '3.9' and python_version < '4'
djangorestframework==3.16.0; python_version >= '3.9'
gunicorn==23.0.0; python_version >= '3.7'
hyperlink==21.0.0
idna==3.10; python_version >= '3.6'
incremental==24.7.2; python_version >= '3.8'
# mysqlclient==2.2.7; python_version >= '3.8'
packaging==25.0; python_version >= '3.8'
pillow==11.2.1; python_version >= '3.9'
psycopg2-binary==2.9.10; python_version >= '3.8'
pyasn1==0.6.1; python_version >= '3.8'
pyasn1-modules==0.4.2; python_version >= '3.8'
pycparser==2.22; python_version >= '3.8'
pyopenssl==25.0.0; python_version >= '3.7'
service-identity==24.2.0; python_version >= '3.8'
setuptools==79.0.1; python_version >= '3.9'
sqlparse==0.5.3; python_version >= '3.8'
tomli==2.2.1; python_version >= '3.8'
twisted[tls]==24.11.0; python_full_version >= '3.8.0'
txaio==23.1.1; python_version >= '3.7'
typing-extensions==4.13.2; python_version >= '3.8'
whitenoise==6.9.0; python_version >= '3.9'
zope-interface==7.2; python_version >= '3.8'
